<li class="search-result">
  <a href="{{ include.reference.url | relative_url }}">
    {% if include.reference.image %}
    <div class="search-result__image-wrap">
      <img src="{{ include.reference.image }}" alt="{{ include.reference.title }}" loading="lazy">
    </div>
    {% else %}
    <div class="search-result__image-wrap search-result__image-wrap--placeholder">
      <span>No Image Found</span>
    </div>
    {% endif %}
    <div class="search-result__body">
      <h2>{{ include.reference.title }}</h2>
      <div class="byline search-result__byline"><span>Reference</span></div>
      <p>
        {% if include.reference.excerpt %}{{ include.reference.excerpt | strip_html }}{% else %}{{ include.reference.content | strip_html | truncatewords: 30 }}{% endif %}
      </p>
    </div>
  </a>
</li>
